<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de integrantes</title>
</head>
<body>
<h1>Formulário de Cadastro de Integrantes</h1>
<form id="cadastroForm">
  <label for="franquia">Franquia:</label>
  <input type="text" id="franquia" name="franquia" required>
  <br>
  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome" required>
  <br>
  <label for="funcao">Função:</label>
  <input type="text" id="funcao" name="funcao" required>
  <br>
  <button type="submit">Salvar</button>
</form>
</body>
</html>